@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html, body {
  height: 100%;
  width: 100%;
  /* background-color: black; */
  font-family: 'Oswald', sans-serif;
}

.my-container{
    background-color: black;
    height: 561px;
    width: 380px;
    margin: 0 550px;
    border-radius: 15px;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(182, 180, 184);
}

.orange-button{
    background-color: rgb(249, 102, 5);
}

.row{
  margin: 8px 0;
}

.row input{
  font-size: 20px;
  margin: 0;
  padding: 10px 18px;
  border: 2px solid black;
  border-radius: 5px;
}